/*#MainTabPanel-body, */ .gridbg, #center_panel-body{
/*background-color: #E4EAED !important;
background-image: -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, #F3F6F7), color-stop(100%, rgba(243, 246, 247, 0))), -webkit-gradient(linear, 0% 50%, 1 50%, color-stop(100%, #F3F6F7), color-stop(100%, rgba(243, 246, 247, 0))), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(243, 246, 247, 0))), -webkit-gradient(linear, 0% 50%, 1 50%, color-stop(100%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(243, 246, 247, 0)));
background-image: -webkit-linear-gradient(top, #F3F6F7 1px, rgba(243, 246, 247, 0) 1px), -webkit-linear-gradient(left, #F3F6F7 1px, rgba(243, 246, 247, 0) 1px), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), -webkit-linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
background-image: -moz-linear-gradient(top, #F3F6F7 1px, rgba(243, 246, 247, 0) 1px), -moz-linear-gradient(left, #F3F6F7 1px, rgba(243, 246, 247, 0) 1px), -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), -moz-linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
background-image: -o-linear-gradient(top, #F3F6F7 1px, rgba(243, 246, 247, 0) 1px), -o-linear-gradient(left, #F3F6F7 1px, rgba(243, 246, 247, 0) 1px), -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), -o-linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
background-image: -ms-linear-gradient(top, #F3F6F7 1px, rgba(243, 246, 247, 0) 1px), -ms-linear-gradient(left, #F3F6F7 1px, rgba(243, 246, 247, 0) 1px), -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), -ms-linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
background-image: linear-gradient(top, #F3F6F7 1px, rgba(243, 246, 247, 0) 1px), linear-gradient(left, #F3F6F7 1px, rgba(243, 246, 247, 0) 1px), linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position: -2px, -2px, -2px, -2px;*/
background-image: url(../icons/grid_pattern.png);
}

#top_toolbar {
/*background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8FC33A), color-stop(100%, #739B2E));
background-image: -webkit-linear-gradient(top, #8FC33A, #739B2E);
background-image: -moz-linear-gradient(top, #8FC33A, #739B2E);
background-image: -o-linear-gradient(top, #8FC33A, #739B2E);
background-image: -ms-linear-gradient(top, #8FC33A, #739B2E);
background-image: linear-gradient(top, #8FC33A, #739B2E);*/
background: #739B2E url(../icons/top_pattern.png) repeat-x;	
border-bottom: 1px solid #567422;
}

#bottom_toolbar {
/*background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8FC33A), color-stop(100%, #739B2E));
background-image: -webkit-linear-gradient(top, #8FC33A, #739B2E);
background-image: -moz-linear-gradient(top, #8FC33A, #739B2E);
background-image: -o-linear-gradient(top, #8FC33A, #739B2E);
background-image: -ms-linear-gradient(top, #8FC33A, #739B2E);
background-image: linear-gradient(top, #8FC33A, #739B2E);*/
background-color: #739B2E;	
border-bottom: 1px solid #567422;
}

#uiNavigationTreePanel-body {
border-right: 1px solid #D7DCE0;
}

/*.x-panel-default {
background-color: #E4EAED;
background-image: url(../icons/grid_pattern.png);

background-image: -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, #F3F6F7), color-stop(100%, rgba(243, 246, 247, 0))), -webkit-gradient(linear, 0% 50%, 1 50%, color-stop(100%, #F3F6F7), color-stop(100%, rgba(243, 246, 247, 0))), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(243, 246, 247, 0))), -webkit-gradient(linear, 0% 50%, 1 50%, color-stop(100%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(243, 246, 247, 0)));
background-image: -webkit-linear-gradient(top, #F3F6F7 1px, rgba(243, 246, 247, 0) 1px), -webkit-linear-gradient(left, #F3F6F7 1px, rgba(243, 246, 247, 0) 1px), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), -webkit-linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
background-image: -moz-linear-gradient(top, #F3F6F7 1px, rgba(243, 246, 247, 0) 1px), -moz-linear-gradient(left, #F3F6F7 1px, rgba(243, 246, 247, 0) 1px), -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), -moz-linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
background-image: -o-linear-gradient(top, #F3F6F7 1px, rgba(243, 246, 247, 0) 1px), -o-linear-gradient(left, #F3F6F7 1px, rgba(243, 246, 247, 0) 1px), -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), -o-linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
background-image: -ms-linear-gradient(top, #F3F6F7 1px, rgba(243, 246, 247, 0) 1px), -ms-linear-gradient(left, #F3F6F7 1px, rgba(243, 246, 247, 0) 1px), -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), -ms-linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
background-image: linear-gradient(top, #F3F6F7 1px, rgba(243, 246, 247, 0) 1px), linear-gradient(left, #F3F6F7 1px, rgba(243, 246, 247, 0) 1px), linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);

background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
}*/

.x-tab button {
	height: 25px !important;
	line-height: 25px !important;
}
.x-tab button .x-tab-icon {
	top: auto !important;
}

.x-fieldset-header-text, .x-form-item-label {
	color: #157fcc !important;
}


/*.x-tab-bar-default .x-tabbar-scroll-left, .x-tab-bar-default .x-tabbar-scroll-right {
	width: 31px;
	height: 40px
}*/


/*changed in neptune css
.x-tab-icon-text-left .x-tab-inner {
	padding-left: 27px;
}

.x-tab button .x-tab-icon, .x-tab a .x-tab-icon {
	width: 25px
}
*/

.x-panel-header-default {
background-image: url(../icons/header_pattern.png);	
}

/*.x-tab-close-btn, .x-tab-active .x-tab-close-btn::after {
background-image: none;
background-color: #252925 !important;
}*/

.x-tab {
background-image:none;
background-color: #739B2E !important;
}

.x-tab-bar {
background-color: #E4EAED;
background-image: url(../icons/grid_pattern.png);
}

.x-tab-top-active {
background-image: none;
background-color: #F39926 !important;
color: #fff !impotrant;
}

#logo-text {
color: #104b9b !important;
font-size: 20px; 
letter-spacing: 1px; 
font-family: "century gothic", Arial, Verdana, sans-serif;
}

.treeIcon {
width: 16px;
}

.number_field {/*margin-top: 10px*/}


.remove_tabs .x-tool-img {
background-image: url(../icons/close_tabs.png);
background-color: transparent !important;
}

.search .x-tool-img {
background-image: url(../icons/search.png);
background-color: transparent !important;
}

.refresh_progress,  .refresh_progress_disabled{
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-position : 5px 5px;
	background-repeat: no-repeat;
}

.refresh_progress {
	background-image : url(../icons/refresh.png);
}

.refresh_progress_disabled {
	background-image : url(../icons/refresh_disabled.png);
	pointer-events: none;
	cursor: default;
}

.download {
	background-image : url(../icons/download.png);
	width: 20px;
	height: 20px;
	background-position : 0px 3px;
	background-repeat: no-repeat;
	display: block;
}

.disabled {
	opacity: 0.5;
}

.sup {
  position: relative;
  bottom: 1ex; 
  font-size: 80%;
}

.info {
	width: 16px;
	height: 16px;
	cursor: pointer;
	background: url(../icons/information.png) no-repeat 0 0;
}

.breadcrumb_btn {
	border-width: 1px;
	background: none;
	padding: 0;
	border: none;
}

.x-breadcrumb_btn_over {
	text-decoration: underline;
	color: #136cb4 !important;
}

.not_clickable {
	pointer-events: none;
	cursor: default;
	color: #dcdcdc !important;
}

.rsaquo {
	font-size: 17px;
	padding: 0 5px;
	display: inline-block;
	height: 16px;
	vertical-align: middle;
	margin-bottom: 6px;
}

.small_text {
	font-size:11px; 
	font-style:italic;
	text-align: center;
}

#warnings {
	padding: 10px;
	border-radius: 5px;
	background-color: #ffa100;
}

#warnings li {
	list-style-type: none;
	background: url(../icons/warning.png) no-repeat 0 1px;
	padding-left: 20px
}

#no_graph_data {
	padding: 150px 0;
}

.light_gey {
	font-weight: bold;
	color: #535151;
}

.imgZoom:hover {
	width: 100%;
	height: 100%;
}

.energyPowerBtnContainer {
	border-radius: 10px;
	background-color: #969696;
	border: 3px solid #969696;
	
}
.energyPowerBtn {
	border-radius: 10px;
	background-color: #969696;
	background-image: none;
	border: none;
	
}

.energyPowerBtnSelected {
	background-color: #157fcc !important;
	color: #fff;
}

.box {
	width: 12px;
	height: 13px;
	display: inline-block;
	vertical-align: bottom;
	margin: 2px 10px;
}

.efficient {
	background-color: rgb(148, 174, 10);
}

.inefficient {
	background-color: rgb(166, 17, 32);
}

.average {
	background-color: rgb(255, 209, 62);
}

.you {
	background-color: rgb(17, 95, 166);
}

